@import url(http://fonts.googleapis.com/css?family=Raleway:500);
/* imports, variables, mixins */
/* global & text styles */
html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  background-color: #ecf0f1;
  padding-top: 85px;
  background-image: url("../images/bg.jpg");
  background-attachment: fixed;
  background-size: cover; }

p, li {
  font-size: 16px;
  line-height: 22px;
  clear: both; }

p {
  margin-bottom: 20px; }

a, a:link, a:hover, a:active, a:visited {
  color: #2980b9;
  text-decoration: none;
  font-weight: 500; }

strong {
  color: #ed59b7; }

/* header */
header {
  position: fixed;
  z-index: 2000;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ed59b7;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s; }
  header::after {
    content: "";
    display: block;
    clear: both; }

.nav-up {
  top: -60px; }

#home {
  font-size: 20px;
  display: inline-block;
  margin: 5px 0;
  padding: 0;
  height: 50px;
  width: 74px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  text-indent: -9999px; }

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  #home {
    background-image: url("../images/logo@2x.png"); } }
h1, h2 {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

h1 {
  font-size: 16px;
  float: left;
  margin: 20px 15px;
  color: #ffffff;
  text-transform: uppercase; }

@media screen and (min-width: 560px) {
  h1 {
    font-size: 24px;
    margin: 15px; } }
h2 {
  font-size: 20px;
  line-height: 26px;
  color: #2980b9;
  display: inline-block;
  margin: 3px auto 10px; }

/* layout */
.wrapper, section {
  max-width: 650px;
  margin: 0 auto; }

section {
  margin: 10px 10px 30px 10px;
  padding: 15px;
  border-radius: 5px;
  background-color: #ffffff; }
  section::after {
    content: "";
    display: block;
    clear: both; }

@media screen and (min-width: 560px) {
  section {
    margin: 0 auto 50px; } }
.content {
  margin: 0 auto 25px;
  clear: both; }

button {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
  background-color: #ed59b7;
  margin: 0 auto 20px;
  padding: 8px 20px;
  border-radius: 20px;
  border: 0px;
  display: block;
  box-shadow: 0 2px 1px 1px #933232, inset 0 2px 1px 1px rgba(0, 0, 0, 0);
  cursor: pointer; }
  button.loading {
    background: url("../images/loader.gif") no-repeat center center #ed59b7; }
    button.loading span {
      visibility: hidden; }

.datetime-input {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  width: 130px;
  color: transparent;
  text-shadow: 0 0 0 #333;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .datetime-input.disabled {
    background-color: #eee;
    cursor: not-allowed; }

#departure-time {
  height: 34px; }

div.input {
  position: relative;
  display: inline-block; }
  div.input.departure-date {
    margin-right: 10px; }
  div.input::after {
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: #8e44ad;
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block; }
  div.input.departure-date::after {
    content: '\e109'; }
  div.input.departure-time::after {
    content: '\e023'; }

#error strong {
  color: #8e44ad; }
#error p {
  font-size: 14px; }

#directions table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
  margin-bottom: 30px; }
  #directions table thead {
    font-weight: bold;
    color: #8e44ad; }
  #directions table td {
    padding: 5px 10px; }
  #directions table tbody {
    font-size: 16px; }
    #directions table tbody td {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      background-color: #fff; }
      #directions table tbody td:first-child {
        border-left: 1px solid #ccc;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; }
      #directions table tbody td:nth-child(2), #directions table tbody td:last-child {
        border-right: 1px solid #ccc;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
  #directions table .extra {
    display: none; }

@media screen and (min-width: 560px) {
  #directions table tbody {
    font-size: 20px; }
    #directions table tbody td:nth-child(2) {
      border-right: 0px;
      border-radius: 0px; }
  #directions table .extra {
    display: table-cell; } }
.step {
  position: relative;
  width: 100%;
  font-size: 16px;
  margin-bottom: -8px; }
  .step.last {
    margin-bottom: 30px; }
  .step:not(.last)::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    border: 2px solid #9b59b6;
    opacity: .4;
    top: 18px;
    left: 4px; }
  .step.transfer::before {
    border: 2px dotted #9b59b6; }
  .step::before {
    border: 0; }
  .step::after {
    content: '';
    z-index: 20;
    display: block;
    background: #9b59b6;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    position: absolute;
    top: 6px; }
  .step > strong, .step > p, .step > small {
    margin-left: 20px; }
  .step .duration {
    font-weight: bold;
    color: #ed59b7; }
  .step .btn-xs.collapsed .more {
    display: block; }
  .step .btn-xs.collapsed .less {
    display: none; }
  .step .btn-xs {
    display: block;
    text-align: left;
    padding: 0; }
    .step .btn-xs .more {
      display: none; }
    .step .btn-xs .less {
      display: block; }
  .step .collapse, .step .collapsing {
    margin-top: 15px; }
  .step .collapsing, .step .collapse.in {
    display: block;
    font-size: 85%; }

#steps > .step:first-child strong {
  display: none; }

@media screen and (min-width: 560px) {
  .step {
    display: -webkit-flex;
    display: flex; }
    .step.last {
      margin-bottom: 20px; }
    .step:not(.last)::before {
      top: 10px;
      left: 83px; }
    .step::after {
      left: 79px; }
    .step > strong, .step > p, .step > small {
      margin-left: auto; }
    .step strong {
      display: block;
      margin-right: 30px;
      width: 70px;
      text-align: right; }
    .step p {
      -webkit-flex: 1;
      flex: 1;
      position: relative; }
    .step .btn-xs {
      display: inline-block;
      padding: 0 5px; }

  #steps > .step:first-child strong {
    display: block; } }
#callout {
  background-color: #ed59b7;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px; }
  #callout strong {
    color: #fff; }
  #callout a, #callout a:link, #callout a:hover, #callout a:active, #callout a:visited {
    color: #fff;
    text-decoration: underline; }
  #callout p {
    margin-bottom: 0;
    font-size: 14px; }

/* footer */
footer {
  background-color: #ed59b7;
  opacity: .8;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  padding: 15px;
  margin-top: 250px; }
  footer a, footer a:link, footer a:hover, footer a:active, footer a:visited {
    color: #ffffff; }
