/* imports, variables, mixins */

@import url(http://fonts.googleapis.com/css?family=Raleway:500);

$purple 	    : #9b59b6;
$purple-dark  : #8e44ad;
$blue 		    : #3498db;
$blue-dark	  : #2980b9;
$pink         : #ed59b7;
$pink-dark    : #d6409f;
$header-height: 60px;
$breakpoint   : 560px;

@mixin help-icon($background-color) {
  content: "?";
  font-size: 14px;
  display: inline-block;
  padding: 2px 6px;
  border-radius: 12px;
  line-height: normal;
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #ffffff;
  background-color: $background-color;
}

@mixin glyphicon($color) {
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: $color;
}



/* global & text styles */

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	background-color: #ecf0f1;
  padding-top: $header-height + 25px;
  background-image: url('../images/bg.jpg');
  background-attachment: fixed;
  background-size: cover;
}

p, li {
  font-size: 16px;
  line-height: 22px;
  clear: both;
}

p {
  margin-bottom: 20px;
}

a, a:link, a:hover, a:active, a:visited {
  color: $blue-dark;
  text-decoration: none;
  font-weight: 500;
}

strong {
  color: $pink;
}



/* header */

header {
  position: fixed;
  z-index: 2000;
  height: $header-height;
  top: 0;
  left: 0;
  right: 0;
	background-color: $pink;
  -webkit-transition-property: top;
     -moz-transition-property: top;
          transition-property: top;
  -webkit-transition-duration: 0.25s;
     -moz-transition-duration: 0.25s;
          transition-duration: 0.25s;
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}

.nav-up {
  top: $header-height * -1;
}

#home {
  font-size: 20px;
  display: inline-block;
  margin: 5px 0;
  padding: 0;
  height: 50px;
  width: 74px;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  text-indent: -9999px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  #home {
    background-image: url('../images/logo@2x.png');
  }
}

h1, h2 {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: 16px;
  float: left;
  margin: 20px 15px;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (min-width: $breakpoint) {
  h1 {
    font-size: 24px;
    margin: 15px;
  }
}

h2 {
  font-size: 20px;
  line-height: 26px;
  color: $blue-dark;
  display: inline-block;
  margin: 3px auto 10px;
}



/* layout */

.wrapper, section {
  max-width: 650px;
  margin: 0 auto;
}

section {
  margin: 10px 10px 30px 10px;
  padding: 15px;
  border-radius: 5px;
  background-color: #ffffff;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@media screen and (min-width: $breakpoint) {
  section {
    margin: 0 auto 50px;
  }
}

.content {
  margin: 0 auto 25px;
  clear: both;
}

button {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
  background-color: $pink;
  margin: 0 auto 20px;
  padding: 8px 20px;
  border-radius: 20px;
  border: 0px;
  display: block;
  box-shadow: 0 2px 1px 1px #933232, inset 0 2px 1px 1px rgba(0, 0, 0, 0);
  cursor: pointer;
  &.loading {
    background: url('../images/loader.gif') no-repeat center center $pink;
    span {
      visibility: hidden;
    }
  }
}

.datetime-input {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  width: 130px;
  color: transparent;
  text-shadow: 0 0 0 #333;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  &.disabled {
    background-color: #eee;
    cursor: not-allowed;
  }
}

#departure-time {
  height: 34px;
}

div.input {
  position: relative;
  display: inline-block;
  &.departure-date {
    margin-right: 10px;
  }
  &::after {
    @include glyphicon($purple-dark);
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block;
  }
  &.departure-date::after {
    content: '\e109';
  }
  &.departure-time::after {
    content: '\e023';
  }
}

#error {
  strong {
    color: $purple-dark;
  }
  p {
    font-size: 14px;
  }
}

#directions table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
  margin-bottom: 30px;
  thead {
    font-weight: bold;
    color: $purple-dark;
  }
  td {
    padding: 5px 10px;
  }
  tbody {
    font-size: 16px;
    td {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      background-color: #fff;
      &:first-child {
        border-left: 1px solid #ccc;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:nth-child(2),
      &:last-child {
        border-right: 1px solid #ccc;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
  .extra {
    display: none;
  }
}

@media screen and (min-width: $breakpoint) {
  #directions table {
    tbody {
      font-size: 20px;
      td:nth-child(2) {
        border-right: 0px;
        border-radius: 0px;
      }
    }
    .extra {
      display: table-cell;
    }
  }
}

.step {
  position: relative;
  width: 100%;
  font-size: 16px;
  margin-bottom: -8px;

  &.last {
    margin-bottom: 30px;
  }

  &:not(.last)::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    border: 2px solid $purple;
    opacity: .4;
    top: 18px;
    left: 4px;
  }

  &.transfer::before {
    border: 2px dotted $purple;
  }

  &::before {
    border: 0;
  }

  &::after {
    content: '';
    z-index: 20;
    display: block;
    background: $purple;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    position: absolute;
    top: 6px;
  }

  > strong, > p, > small {
    margin-left: 20px;
  }

  .duration {
    font-weight: bold;
    color: $pink;
  }

  .btn-xs.collapsed {
    .more {
      display: block;
    }
    .less {
      display: none;
    }
  }

  .btn-xs {
    display: block;
    text-align: left;
    padding: 0;

    .more {
      display: none;
    }
    .less {
      display: block;
    }
  }

  .collapse, .collapsing {
    margin-top: 15px;
  }

  .collapsing, .collapse.in {
    display: block;
    font-size: 85%;
  }
}

#steps > .step:first-child strong {
  display: none;
}

@media screen and (min-width: $breakpoint) {
  .step {
    display: -webkit-flex;
    display: flex;

    &.last {
      margin-bottom: 20px;
    }

    &:not(.last)::before {
      top: 10px;
      left: 83px;
    }

    &::after {
      left: 79px;
    }

    > strong, > p, > small {
      margin-left: auto;
    }

    strong {
      display: block;
      margin-right: 30px;
      width: 70px;
      text-align: right;
    }

    p {
      -webkit-flex: 1;
      flex: 1;
      position: relative;
    }

    .btn-xs {
      display: inline-block;
      padding: 0 5px;
    }
  }

  #steps > .step:first-child strong {
    display: block;
  }
}

#callout {
  background-color: $pink;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  strong {
    color: #fff;
  }
  a, a:link, a:hover, a:active, a:visited {
    color: #fff;
    text-decoration: underline;
  }
  p {
    margin-bottom: 0;
    font-size: 14px;
  }
}


/* footer */
footer {
  background-color: $pink;
  opacity: .8;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  padding: 15px;
  margin-top: 250px;
  a, a:link, a:hover, a:active, a:visited {
    color: #ffffff;
  }
}